body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}

#content {
    display: flex;
    align-items: center;
    gap: 100px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display:grid;
    grid-template-columns:repeat(var(--grid-cols), 1fr) ;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    width: 500px;
    aspect-ratio: 1;
    border: 2px solid black;
    background-color: #ffffff;
}

.showgrid {
    border: 1px solid #F7F0EF;
}



.button:hover {
    background-color: #F7F0EF;
}
.button:active {
    border:2px;
}

#color {
    width:10px;
    height: 10px;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
}


