

#container {
    display:grid;
    grid-template-columns:repeat(16, 1fr) ;
    width: 20%;
    margin:auto;
    padding-top:200px;
}

.griditems {
    border: 1px solid grey;
}

.color {
    background-color: aqua;
}
